/*My stylesheet*/

.jumbotron {
	background-color: #D8D8D8;
	text-align: center;
}

.portrait{
	
	height:200px;
    width: 150px;
}

H1 {
	width: 100%;
	text-align: center;
	font-family: "Righteous";
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
	transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}







