body, html {
  height: 100%;
  display: grid;
}
 three{
   height:75px;
     width:75px;
   color: white;
   background-color: tomato;
  margin: auto;
}
main{
    margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
}
div{
  height: 75px;
  width:75px;
  background-color: tomato;
  color: white;
  font-weight: bold;
  margin: 4px;
  display: inline;
  float: left;
}
#three{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#two{
  position: absolute;
  right: 50%;
  bottom: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.one{
  background-color: blue;
  width: 75px;
  height: 75px;
  margin: -70px 0 0 -120px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}
